In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import r2_score,mean_squared_error

C:\Users\Abhi\Anaconda3\envs\tf1\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)
C:\Users\Abhi\Anaconda3\envs\tf1\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

In [2]:
train=pd.read_csv("birthwt_train.csv")

In [3]:
test=pd.read_csv("birthwt_test.csv")

In [4]:
x_features=list(train.columns)

In [5]:
x_features.remove('low')

In [6]:
X=train[x_features]

In [8]:
Y=train['low']

In [ ]:
#scaler = MinMaxScaler(feature_range = (0,1))

In [9]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,random_state=0)

In [10]:
tree=RandomForestClassifier(n_estimators=100)

In [11]:
tree.fit(X_train,Y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [12]:
y_predict=tree.predict(X_test)

In [13]:
np.sqrt(mean_squared_error(Y_test,y_predict))

0.5252257314388902

In [14]:
metrics.roc_auc_score(Y_test,y_predict)

0.5181159420289856

In [15]:
print(metrics.classification_report(Y_test,y_predict))

              precision    recall  f1-score   support

           0       0.80      0.87      0.83        23
           1       0.25      0.17      0.20         6

    accuracy                           0.72        29
   macro avg       0.53      0.52      0.52        29
weighted avg       0.69      0.72      0.70        29

In [16]:
test

    id  age  lwt  race  smoke  ptl  ht  ui  ftv
0    1   33  155     3      0    0   0   0    3
1    2   22  118     1      0    0   0   0    1
2    3   29  123     1      1    0   0   0    1
3    4   18  100     1      1    0   0   0    0
4    5   20  120     3      0    0   0   1    0
5    6   28  120     1      1    0   0   0    1
6    7   36  202     1      0    0   0   0    1
7    8   17  122     1      1    0   0   0    0
8    9   26  168     2      1    0   0   0    0
9   10   17  113     2      0    0   0   0    1
10  21   30  110     3      0    0   0   0    0
11  22   20  127     3      0    0   0   0    0
12  23   22  125     1      0    0   0   0    1
13  24   24  133     1      0    0   0   0    0
14  25   21  134     3      0    0   0   0    2
15  26   19  235     1      1    0   1   0    0
16  27   24  110     1      0    0   0   0    1
17  28   20  120     3      0    0   0   0    0
18  29   32  186     1      0    0   0   0    2
19  30   18  120     3      0    0   0   0    1
20  31   29  130     1      1    0   0   0    2
21  32   14  135     1      0    0   0   0    0
22  33   31  120     1      0    0   0   0    2
23  34   23   97     3      0    0   0   1    1
24  35   25  115     3      0    0   0   0    0
25  36   21  200     2      0    0   0   1    2
26  37   24  155     1      1    1   0   0    0
27  38   20  125     3      0    0   0   1    0
28  39   25   89     3      0    2   0   0    1
29  40   19  102     1      0    0   0   0    2
30  41   24  138     1      0    0   0   0    0
31  42   17  110     1      1    0   0   0    0
32  43   20  122     2      1    0   0   0    0
33  44   23  120     3      0    0   0   0    0
34  45   23  110     1      1    1   0   0    0
35  46   26  190     1      1    0   0   0    0
36  47   14  101     3      1    1   0   0    0
37  48   17  142     2      0    0   1   0    0

In [17]:
y_features=list(test.columns)
y_features.remove('id')
testX=test[y_features]
testy=test['id']
testy
prediction=tree.predict(testX)
prediction=pd.Series(prediction)
output=pd.DataFrame([testy,prediction],index=['id','low']).T

In [18]:
output

    id  low
0    1    0
1    2    0
2    3    0
3    4    0
4    5    1
5    6    0
6    7    0
7    8    0
8    9    0
9   10    0
10  21    0
11  22    0
12  23    0
13  24    0
14  25    0
15  26    0
16  27    0
17  28    0
18  29    0
19  30    0
20  31    0
21  32    0
22  33    0
23  34    1
24  35    0
25  36    0
26  37    1
27  38    1
28  39    1
29  40    0
30  41    0
31  42    0
32  43    0
33  44    0
34  45    1
35  46    0
36  47    0
37  48    0