In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn import metrics
import xgboost as xgb

C:\Users\Abhi\Anaconda3\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)
C:\Users\Abhi\Anaconda3\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

In [2]:
train=pd.read_csv("housing_train.csv")

In [3]:
test=pd.read_csv("housing_test.csv")

In [4]:
test.head()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,id
0,0.02985,0.0,2.18,0,0.458,6.430,58.7,6.0622,3,222,18.7,394.12,5.21,1
1,0.14455,12.5,7.87,0,0.524,6.172,96.1,5.9505,5,311,15.2,396.90,19.15,2
2,0.21124,12.5,7.87,0,0.524,5.631,100.0,6.0821,5,311,15.2,386.63,29.93,3
3,0.17004,12.5,7.87,0,0.524,6.004,85.9,6.5921,5,311,15.2,386.71,17.10,4
4,0.78420,0.0,8.14,0,0.538,5.990,81.7,4.2579,4,307,21.0,386.75,14.67,5

In [5]:
train.head()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,2.37934,0.0,19.58,0,0.871,6.130,100.0,1.4191,5,403,14.7,172.91,27.80,13.8
1,38.35180,0.0,18.10,0,0.693,5.453,100.0,1.4896,24,666,20.2,396.90,30.59,5.0
2,0.22969,0.0,10.59,0,0.489,6.326,52.5,4.3549,4,277,18.6,394.87,10.97,24.4
3,12.80230,0.0,18.10,0,0.740,5.854,96.6,1.8956,24,666,20.2,240.52,23.79,10.8
4,3.56868,0.0,18.10,0,0.580,6.437,75.0,2.8965,24,666,20.2,393.37,14.36,23.2

In [6]:
x_features=list(train.columns)

In [7]:
x_features.remove('medv')

In [8]:
X=train[x_features]

In [9]:
Y=train['medv']

In [10]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.3,random_state=42)

In [11]:
len(X_test)

114

In [12]:
linreg = RandomForestRegressor()

In [13]:
linreg.fit(X_train,Y_train)

C:\Users\Abhi\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
                      max_features='auto', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=10,
                      n_jobs=None, oob_score=False, random_state=None,
                      verbose=0, warm_start=False)

In [14]:
y_pred=linreg.predict(X_test)

In [15]:
mse=metrics.mean_squared_error(Y_test,y_pred)

In [16]:
rmse=round(np.sqrt(mse),2)

In [17]:
rmse

3.64

In [18]:
y_features=list(test.columns)
y_features.remove("id")

In [19]:
testX=test[y_features]

In [20]:
testy=test['id']
testy

0       1
1       2
2       3
3       4
4       5
     ...
95     96
96     97
97     98
98     99
99    100
Name: id, Length: 100, dtype: int64

In [21]:
prediction=linreg.predict(testX)

In [22]:
prediction=pd.Series(prediction)

In [23]:
output=pd.DataFrame([testy,prediction],index=['id','medv']).T

In [24]:
output['id']=output['id'].astype(int)

In [27]:
output=output.round({"medv":1})

In [29]:
output.to_csv('housing_prediction.csv',index=False)

     id  medv
0     1  25.4
1     2  17.3
2     3  14.5
3     4  16.8
4     5  16.3
..  ...   ...
95   96  10.9
96   97   9.3
97   98  12.0
98   99  15.0
99  100  16.8

[100 rows x 2 columns]